/* Coolors Exported Palette - coolors.co/347fb9-e71d36-58355e-ec0b43-7ae7c7 */

/* HSL */
$color1: hsla(206%, 56%, 46%, 1);
$color2: hsla(353%, 81%, 51%, 1);
$color3: hsla(291%, 28%, 29%, 1);
$color4: hsla(345%, 91%, 48%, 1);
$color5: hsla(162%, 69%, 69%, 1);

/* RGB */
$color1: rgba(52, 127, 185, 1);
$color2: rgba(231, 29, 54, 1);
$color3: rgba(88, 53, 94, 1);
$color4: rgba(236, 11, 67, 1);
$color5: rgba(122, 231, 199, 1);